spring:
  datasource:
    url: jdbc:h2:mem:testdb
  sql:
    init:
      mode: always

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: false

    show-sql: false

  h2:
    console:
      path: /h2-console
      settings:
        web-allow-others: true


logging:
  level:
    ROOT: ERROR